---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>rehash | offline passwords, accessible anywhere</title>
	</head>
	<body class="flex justify-center w-full min-h-screen font-sans bg-white text-black font-medium">
		<main class="px-8 py-16 max-w-160">
			<h1 class="text-black font-black text-6xl">rehash</h1>
			<h2 class="text-primary-700 font-black text-3xl">offline passwords, accessible anywhere</h2>
			<section class="mt-12 flex flex-col gap-4">
				<h3 class="text-primary-700 font-bold text-2xl">Get Started</h3>
				<a href="https://app.rehash.one" class="flex-1 px-4 py-2 font-black bg-primary-800 hover:bg-primary-700 focus:bg-primary-700 active:bg-primary-600 text-primary-100 active:text-primary-50 rounded-md">Open in browser</a>

				<h3 class="text-primary-700 font-bold text-2xl">Install</h3>

				<h4>On Desktop</h4>
				<div class="flex gap-4 items-stretch">
					<a href="https://github.com/thekatze/rehash/releases" class="flex-1 px-4 py-2 font-black bg-primary-800 hover:bg-primary-700 focus:bg-primary-700 active:bg-primary-600 text-primary-100 active:text-primary-50 rounded-md">Download App</a>
					<a href="https://github.com/thekatze/rehash-cli" class="flex-1 px-4 py-2 font-black bg-primary-800 hover:bg-primary-700 focus:bg-primary-700 active:bg-primary-600 text-primary-100 active:text-primary-50 rounded-md">Download CLI</a>
				</div>

				<h4>On Mobile (Work in progress)</h4>
				<div class="flex gap-4 items-stretch">
					<span class="opacity-50 pointer-events-none select-none flex-1 px-4 py-2 font-black bg-primary-800 hover:bg-primary-700 focus:bg-primary-700 active:bg-primary-600 text-primary-100 active:text-primary-50 rounded-md">Android</span>
					<span class="opacity-50 pointer-events-none select-none flex-1 px-4 py-2 font-black bg-primary-800 hover:bg-primary-700 focus:bg-primary-700 active:bg-primary-600 text-primary-100 active:text-primary-50 rounded-md">iOS</span>
				</div>
			</section>
		</main>
		<footer class="font-bold text-primary-700 fixed bottom-0 right-0 flex gap-8 px-8 py-4">
			<a class="hover:underline" href="https://github.com/thekatze/rehash">GitHub</a>
			<a class="hover:underline" href="/security.txt">Security</a>
			<a class="hover:underline" href="/privacy-policy.txt">Privacy Policy</a>
			<a class="hover:underline" href="/imprint.txt">Imprint</a>
		</footer>
	</body>
</html>

