---
import PasswordGenerator from "../components/PasswordGenerator";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
  <section>
    <h2>Offline Passwords</h2>
    <span>Accessible anywhere.</span>
  </section>
  <PasswordGenerator client:idle />
</MainLayout>
