---
import InteractiveDemo from '../components/InteractiveDemo.tsx';
---

<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
  </head>
  <body>
    <main>
      <InteractiveDemo client:visible />
    </main>
  </body>
</html>
