name: "Check code style"

on:
  pull_request:
    branches: [ main ]

jobs:
  lint:
    name: Lint code
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v6
        
    - uses: pnpm/action-setup@v3
      with:
        version: latest
        
    - name: Set up Node
      uses: actions/setup-node@v6
      with:
        node-version: 24
        cache: 'pnpm'
    
    - name: Install dependencies
      run: pnpm install --frozen-lockfile

    - name: Check code style
      run: pnpm lint
